
<MudStack>
    <MudStack Row="true" Class="mx-2 mt-2">
        <a href="https://github.com/orgs/XerumSrl/repositories" target="_blank"><MudIcon Icon="@Icons.Custom.Brands.GitHub" /></a>
        <a href="https://www.xholding.it/" target="_blank"><MudImage Src="images/logo.png" Alt="XRFID Demo Logo" Elevation="0" Class="rounded-lg" Width="24" Height="24" /></a>
    </MudStack>
    <div class="mx-2">XRFID Demo Server Interface</div>
    <div class="copyright text-muted mx-3 my-2">© Xerum @DateTime.Today.Year</div>
</MudStack>

